@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: red; /* Very light grey */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inputStyles {
  @apply text-slate-600 rounded-full;
}

.btn {
  @apply bg-green-600 hover:bg-green-700 py-3 px-6 text-slate-50  transition dark:bg-green-600 dark:hover:bg-green-700;
}

